---
import PageLayout from "@/layouts/Base";
import { Image } from "@astrojs/image/components";
import aboutImg from "../assets/about-astro.png";

const meta = {
	title: "About",
	description: "I'm a starter theme for Astro.build",
};
---

<PageLayout meta={meta}>
	<div class="space-y-6">
		<h1 class="title">About</h1>
		<p>
			Hi, I’m a starter Astro. I’m particularly great for getting you started with your own blogging
			website.
		</p>
		<div class="flex justify-center">
			<Image
				src={aboutImg}
				alt="A cartoon cactus looking at the 'Astro.build' logo"
				loading="eager"
			/>
		</div>
		<p>About</p>
		<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. A ex minima cumque deserunt eius qui laboriosam unde illo ad maxime et fuga, molestias doloremque eligendi expedita ullam aliquam voluptatibus id!</p>
		<p>
			Clone or fork my
			<a
				class="cactus-link inline-block"
				href="https://github.com/chrismwilliams/astro-cactus"
				target="_blank"
				rel="noopener noreferrer"
				aria-label="github repository"
			>
				repo
			</a> if you like me!
		</p>
	</div>
</PageLayout>
